@page "/Prestamos/Index"
@inject PrestamoServices prestamoServices
@inject DeudorServices deudorServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Pr&eacute;stamos</PageTitle>

<Toasts class="p-3 mt-5" Messages="messages" Placement="ToastsPlacement.TopRight" />

<div class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0">Préstamos</h3>
    </div>

    <div class="row mb-3 align-items-end">
        <div class="col-md-3">
            <label for="Filtro" class="form-label"></label>
            <select @bind="filtro" class="form-select">
                <option value="" disabled selected>Filtrar por:</option>
                <option value="id">ID</option>
                <option value="deudor">Deudor</option>
                <option value="concepto">Concepto</option>
                <option value="monto">Monto</option>
                <option value="balance">Balance</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="ValorFiltro" class="form-label"></label>
            <div class="input-group">
                <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                <button @onclick="Buscar" class="btn btn-outline-secondary" type="button">
                    <span class="bi bi-search"></span>
                </button>
            </div>
        </div>

        <div class="col-md-3 text-end">
            <a href="/Prestamos/Create" class="btn btn-success" type="button">
                <i class="bi bi-plus-square mt-3"></i>
                Crear
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="bg-primary text-white">
                <tr>
                    <th>PréstamoId</th>
                    <th>Deudor</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Balance</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @if (ListaPrestamos != null && ListaPrestamos.Any())
                {
                    foreach (var prestamo in ListaPrestamos)
                    {
                        <tr>
                            <td>@prestamo.PrestamoId</td>
                            <td>@prestamo.Deudor.Nombres</td>
                            <td>@prestamo.Concepto</td>
                            <td>@prestamo.Monto.ToString("C")</td>
                            <td>@prestamo.Balance.ToString("C")</td>
                            <td>
                                <a class="btn btn-outline-primary" href="/Prestamos/Details/@prestamo.PrestamoId">
                                    <span class="bi bi-eye"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-success" href="/Prestamos/Edit/@prestamo.PrestamoId">
                                    <span class="bi bi-pencil-square"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-danger" href="/Prestamos/Delete/@prestamo.PrestamoId">
                                    <span class="bi bi-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">No se encontraron préstamos.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer text-start">
        <p style="font-weight: bold;">Total de Préstamos: @ListaPrestamos.Count</p>
    </div>
</div>

@code {
    public List<Prestamo> ListaPrestamos { get; set; } = new List<Prestamo>();
    private string filtro = "id";
    private string? valorFiltro;

    List<ToastMessage> messages = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        ListaPrestamos = await prestamoServices.Listar(p => p.PrestamoId > 0);
        ShowMessage(ToastType.Info);
    }

    private async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            switch (filtro)
            {
                case "id":
                    if (int.TryParse(valorFiltro, out int prestamoId))
                    {
                        ListaPrestamos = await prestamoServices.Listar(p => p.PrestamoId == prestamoId);
                    }
                    break;
                case "deudor":
                    ListaPrestamos = await prestamoServices.Listar(p => p.Deudor.Nombres.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase));
                    break;
                case "concepto":
                    ListaPrestamos = await prestamoServices.Listar(p => p.Concepto.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase));
                    break;
                case "monto":
                    if (decimal.TryParse(valorFiltro, out decimal monto))
                    {
                        ListaPrestamos = await prestamoServices.Listar(p => p.Monto == monto);
                    }
                    break;
                case "balance":
                    if (decimal.TryParse(valorFiltro, out decimal balance))
                    {
                        ListaPrestamos = await prestamoServices.Listar(p => p.Balance == balance);
                    }
                    break;
            }
        }
        else
        {
            ListaPrestamos = await prestamoServices.Listar(p => true);
        }

        ShowMessage(ToastType.Success);
    }

    private void ShowMessage(ToastType toastType)
    {
        messages.Add(CreateToastMessage(toastType));
    }

    private ToastMessage CreateToastMessage(ToastType toastType)
    {
        return new ToastMessage
            {
                Type = toastType,
                Title = "Blazor Bootstrap",
                HelpText = $"{DateTime.Now}",
                Message = $"DateTime: {DateTime.Now}",
            };
    }
}
